div img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 160vh;
    position: relative;
    color: #fff;
    vertical-align: bottom;
}

.main-link {
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

@media (max-width: 1024px) {
    div img {
        width: 100%;
        /* 너비를 부모 요소에 맞춤 */
        height: 100vh;
        /* 세로 크기 화면 전체 */
        object-fit: cover;
        /* 비율 유지하며 잘림 */
        object-position: center;
        /* 가운데 정렬 */
    }
}