<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESDK</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Noto+Sans+KR:wght@100..900&family=Plaster&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/images/photo/ESDK-icon.png" type="image/png">
</head>

<body>
    <header>
        <a href="/" class="main-link">
            <span class="es-text">ES</span><span class="dk-text">DK</span>
        </a>
    </header>

    <div class="header-container">
        <img src="/images/photo/profile.png" alt="도겸(DK)" class="main-image">
        <div class="profile-title">
            <h1>도 겸(DK)</h1>
        </div>
    </div>
    <!-- 배너 메뉴 -->
    <nav>
        <i class="bi bi-list menu-toggle"></i> <!-- 600px 이하에서 표시될 리스트 아이콘 -->
        <div class="menu">
            <a href="/profile">Profile</a>
            <a href="/album">Album</a>
            <a href="/example">Cover</a>
            <a href="/gallery">Gallery</a>
            <a href="/point">Point</a>
        </div>
    </nav>
    <i class="bi bi-gem globe-icon"></i>

    <section class="profile">
        <div class="profile-content">
            <h2>Profile</h2>
            <img src="/images/photo/profile1.png" alt="도겸 프로필" class="profile-image">
            <div class="profile-details">
                <p class="bold"><strong>도 겸</strong><span class="gray">(이도겸, Dokyeom) 아이돌, 가수</span></p>
                <p><span class="gray">데뷔일</span> 2015년 5월 26일</p>
                <p><span class="gray">소속사</span> 플레디스 엔터테인먼트</p>
                <p><span class="gray">소속 그룹</span> 세븐틴 · 세븐틴 보컬팀 · 부석순</p>
                <p><span class="gray">포지션</span> 메인보컬, 부석순 리더</p>
                <p><span class="gray">사이트</span> <a
                        href="https://www.instagram.com/dk_is_dokyeom?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                            class="bi bi-instagram"></i></a></p>
            </div>
        </div>
    </section>

    <section class="profile around">
        <div class="profile-content">
            <img src="/images/photo/profile2.png" alt="이석민 프로필" class="profile-image profile-change">
            <div class="profile-details">
                <p class="bold"><strong>이석민</strong><span class="gray">(Lee Seokmin)</span></p>
                <p><span class="gray">출생</span> 1997년 2월 18일</p>
                <p><span class="gray">신체</span> 178.4cm</p>
                <p><span class="gray">몸무게</span> 68kg</p>
                <p><span class="gray">발사이즈</span> 280mm</p>
                <p><span class="gray">사이트</span> <a
                        href="https://www.instagram.com/dk_is_dokyeom?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                            class="bi bi-instagram"></i></a></p>
            </div>
        </div>
    </section>

    <footer class="footer-banner" style="margin-top: 50px;">
        <div class="footer-content">
            <div class="footer-logo">
                <span class="es-text">ES</span><span class="dk-text">DK</span>
            </div>
            <p>@2024 Eternal Sunshine Dokyeom. All rights reserved.</p>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>