<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESDK</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/example.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle&family=Noto+Sans+KR:wght@100..900&family=Plaster&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <a href="index.html" class="main-link">
            <span class="es-text">ES</span><span class="dk-text">DK</span>
        </a>
    </header>

    <div class="header-container">
        <img src="/images/photo/cover-image.png" alt="도겸(DK)" class="main-image">
        <div class="cover-background">
            <h2 class="text">COVER</h2>
        </div>
    </div>
    

    <nav>
        <a href="/profile">Profile</a>
        <a href="/album">Album</a>
        <a href="/example">Cover</a>
        <a href="/gallery">Gallery</a>
        <a href="/point">Point</a>
    </nav>
    <i class="bi bi-globe2 globe-icon"></i>

    <section class="video-section">
        
        <!-- 큰 화면 동영상 재생 영역 -->
        <div class="main-video-container">
            <div id="main-video-player"></div> <!-- 큰 화면 동영상 재생 영역 -->
        </div>
        <p class="main-video-title">[COVER] 도겸 - HAPPY (원곡 : DAY6)</p> <!-- 큰 화면 아래 제목 -->
        
        
        <!-- 작은 썸네일 목록 -->
        <div class="thumbnail-gallery" id="thumbnail-gallery">
            <!-- 페이지 1 썸네일 -->
            <div class="thumbnail" data-video-id="4cIniILXP7I" data-title="[COVER] 도겸 - HAPPY (원곡 : DAY6)">
                <img src="https://img.youtube.com/vi/4cIniILXP7I/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - HAPPY (원곡 : DAY6)</p>
            </div>
            <div class="thumbnail" data-video-id="d6ZY8MH3L-A" data-title="[COVER] 도겸 - 결국 아무것도 알 수 없었지만 (원곡 : LUCY)">
                <img src="https://img.youtube.com/vi/d6ZY8MH3L-A/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 결국 아무것도 알 수 없었지만 (원곡 : LUCY)</p>
            </div>
            <div class="thumbnail" data-video-id="FcACC2nLArk" data-title="[COVER] 도겸 - 행운을 빌어 줘 (원곡 : 원필)">
                <img src="https://img.youtube.com/vi/FcACC2nLArk/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 행운을 빌어 줘 (원곡 : 원필)</p>
            </div>
            <div class="thumbnail" data-video-id="v9lZPRg71Tk" data-title="[COVER] 도겸 - 베텔기우스 (원곡 : 優里)">
                <img src="https://img.youtube.com/vi/v9lZPRg71Tk/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 베텔기우스 (원곡 : 優里)</p>
            </div>

            <!-- 페이지 2 썸네일 -->
            <div class="thumbnail" data-video-id="AHRdy7rC5o8" data-title="[COVER] 도겸 - 놀이공원 (원곡 : 백현)">
                <img src="https://img.youtube.com/vi/AHRdy7rC5o8/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 놀이공원 (원곡 : 백현)</p>
            </div>
            <div class="thumbnail" data-video-id="fdMS5HTQGX4" data-title="[COVER] 도겸 - 길 (원곡 : 폴킴)">
                <img src="https://img.youtube.com/vi/fdMS5HTQGX4/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 길 (원곡 : 폴킴)</p>
            </div>
            <div class="thumbnail" data-video-id="eOd9zNJK-v4" data-title="도겸 - 언제일까 (뮤지컬 ‘엑스칼리버’)">
                <img src="https://img.youtube.com/vi/eOd9zNJK-v4/0.jpg" alt="Video Thumbnail">
                <p>도겸 - 언제일까 (뮤지컬 ‘엑스칼리버’)</p>
            </div>
            <div class="thumbnail" data-video-id="v3UW6oTw_ks" data-title="[COVER] 도겸 - 사랑했던걸까 (원곡 : 양다일)">
                <img src="https://img.youtube.com/vi/v3UW6oTw_ks/0.jpg" alt="Video Thumbnail">
                <p>[COVER] 도겸 - 사랑했던걸까 (원곡 : 양다일)</p>
            </div>

            <!-- 페이지 3 썸네일 -->
            <div class="thumbnail" data-video-id="oWBhugHt_8c" data-title="Steal The Show">
                <img src="https://img.youtube.com/vi/oWBhugHt_8c/0.jpg" alt="Video Thumbnail">
                <p>Steal The Show</p>
            </div>
            <div class="thumbnail" data-video-id="mHJNduifECM" data-title="도겸 - You're My Christmas">
                <img src="https://img.youtube.com/vi/mHJNduifECM/0.jpg" alt="Video Thumbnail">
                <p>도겸 - You're My Christmas</p>
            </div>
        </div>
        
        <!-- 페이지 네이션 -->
        <div class="pagination">
            <span onclick="showPage(1)">1</span>
            <span onclick="showPage(2)">2</span>
            <span onclick="showPage(3)">3</span>
        </div>
    </section>
    
    <footer class="footer-banner" style="margin-top: 50px;">
        <div class="footer-content">
            <div class="footer-logo">
                <span class="es-text">ES</span><span class="dk-text">DK</span>
            </div>
            <p>@2024 Eternal Sunshine Dokyeom. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/example.js"></script>
</body>

</html>
