div img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 160vh;
    position: relative;
    color: #fff;
    vertical-align: bottom;
}

.main-link{
    text-decoration: none;    
}